#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

input[type="text"],
input[type="number"] {
  height: 10px
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.phone-input-container {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Optional: Stack elements vertically */
  align-items: flex-start; /* Optional: Align items to the start */
}

.phone-input-container input {
  flex: 1; /* Allow the input to grow and fill available space */
  max-width: 100%; /* Ensure the input doesn't exceed its container */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.phone-input-container label {
  flex: 0 0 33.333%; /* Take up exactly one third */
  margin-right: 10px; /* Adjust spacing as desired */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #213547;
    color: #ffffff;
  }
  a:hover {
    color: #0f96c1;
  }
  button {
    background-color: #00bdf0;
    color: #ffffff;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.file-upload {
  display: flex; /* Enable flexbox */
  align-items: center; /* Align items vertically to the center */
}

.instructions {
  flex: 1; /* Allow instructions to grow and fill space */
  padding: 1rem;
  list-style: disc; /* Bullet point style */
}

.upload-section {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-end; /* Align to the right */
  padding: 1rem;
}
.form-wrapper {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  background-color: #fff;
  padding-top: 10px;
  margin-top: 2.5vh;
  border-radius: 5px;
  width: 66vw;
  height: 66vh;
  justify-content: space-between;
}

.form-container {
  display: grid; /* Use flexbox for column layout */
  gap: 20px; /* Spacing between columns */
  grid-template-columns: repeat(3, 1fr);
  padding-left: 25px;
  padding-right: 25px;
}

.docs-container {
  display: grid; /* Use flexbox for column layout */
  gap: 20px; /* Spacing between columns */
  grid-template-columns: repeat(2, 1fr);
  padding-left: 25px;
  padding-right: 25px;
}

.form-group {
  display: flex;
  flex-direction: column; /* Arrange elements vertically */
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  align-self: start;
}

.form-group > div {
  display: flex;
}


.form-group + .form-group::before {
  /* Target elements AFTER the 1st column */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px; /* Adjust as needed to align with column edge */
  border-left: 1px solid #ccc; /* Style the divider line */
}

.form-group input[type="text"], 
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select { /* If using standard select elements */
  width: 100%; 
  line-height: 2.5vh;
}


.input-line-no-label {
  display: flex; /* Use flexbox for easy alignment */
  flex-direction: column;
  align-items: baseline; /* Align the label and input vertically */
  margin-bottom: 10px; /* Add some spacing between input lines */
  flex: 1;
}

.input-line-no-label > * {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 25px;
  line-height: 2.5vh;
}

.input-line-no-label input {
  flex: 1 1 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  justify-content: flex-end;
  margin-right: 10px;
  background-color: #fff;
  color: #000;
  width: 70%;
  line-height: 2.5vh;
}

.input-line {
  display: flex; /* Use flexbox for easy alignment */
  flex-direction: column;
  align-items: start; /* Align the label and input vertically */
  margin-bottom: 10px; /* Add some spacing between input lines */
  flex: 1;
  width: 100%;
}

.input-line label {
  flex: 0 0 0px; /* Prevent the label from growing or shrinking */
  margin-right: 10px; /* Add spacing between the label and input */
  font-weight: 500;
}

.input-line input {
  flex: 1 1 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  justify-content: flex-end;
  margin-right: 10px;
  background-color: #fff;
  color: #000;
  width: 100%;
}

.input-line select {
  flex: 1 1 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  justify-content: flex-end;
  margin-right: 10px;
  background-color: #fff;
  color: #000;
  line-height: 2.5vh;
}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  width: 100%;
}

.PhoneInput {
  display: flex;
  align-items: center;
  width: 100%
}

.currency-input-container {
  display: flex;
  align-items: center; /* Align the label and input vertically */
  margin-bottom: 10px; /* Add some spacing between input lines */
}

.currency-input-container label {
  flex: 0 0 150px; /* Prevent the label from growing or shrinking */
  margin-right: 10px; /* Add spacing between the label and input */
  font-weight: 500;
  color: #000;
}

.input-and-dropdown {
  display: flex; /* Use flexbox for side-by-side layout */
  align-items: center; /* Align components vertically */
}

.input-and-dropdown > DropdownInput {
  /* Target DropdownInput assuming it's using a <select> tag */
  flex: 1; /* Dropdown takes up 1/5th of the space */
}

.input-and-dropdown > input[type="number"] {
  flex: 8; /* Input takes up 4/5ths of the space */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Pushes the button to the right */
  width: 100%; /* Ensure the container takes full width */
}

button[type="submit"] {
  position: absolute;
  right: 25%;
}

.button-spacer {
  flex-grow: 1; /* Takes up all available horizontal space */
}

.validations {
  color: #ff9c9c;
  margin-left: 160px;
  margin-top: 0;
  align-items: center;
}

.confirmation-page {
  text-align: center;
}

.loading-cursor {
  cursor: wait; /* Standard loading cursor style */
}

.fade-enter {
  opacity: 0; /* Start with 0 opacity */
}
.fade-enter-active {
  opacity: 1;  /* Transition to full opacity */
  transition: opacity 300ms ease-in-out; /* Smooth transition */
}
.fade-exit {
  opacity: 1; 
}
.fade-exit-active {
  opacity: 0; 
  transition: opacity 300ms ease-in-out;
}

.file-upload-section {
  display: flex;
  align-items: center;
}

p {
  margin: 0
}